/stm32/WebADC/webADC.creator.user
/java/TestInfo/.idea/workspace.xml
/stm32/WebADC/myscapp/.idea/.name
/stm32/WebADC/myscapp/.idea/compiler.xml
/stm32/WebADC/myscapp/.idea/copyright/profiles_settings.xml
/stm32/WebADC/myscapp/.idea/encodings.xml
/stm32/WebADC/myscapp/.idea/misc.xml
/stm32/WebADC/myscapp/.idea/modules.xml
/stm32/WebADC/myscapp/.idea/uiDesigner.xml
/stm32/WebADC/myscapp/.idea/vcs.xml
/stm32/WebADC/myscapp/.idea/workspace.xml
